.container {
    width: 85%;
    margin: auto;
}

.badge {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge button {
    margin: auto;
    width: 50%;
}
.content {
    width: 100%;
    background: rgb(238, 236, 236);
    box-shadow: 0 0 10px 0px #555;
}

.novo-todoo {
    width: 100% ;
    margin-top: 3rem;
    display: flex;
    box-shadow: 0 0 10px 0px #555;
    background-color: rgb(36, 245, 99);
}

mat-card {
    margin-top: .8rem;
    padding: .2rem;
}

p {
    text-align: end;
    font-weight: 600;
    color: rgb(114, 111, 111);
    margin-right: 10px;
    margin-bottom: 0;
}

.actions {
    text-align: end;
    
}

.btn1 {
    color: green;
    display: inline-block;
}

.btn2 {
    color: blue;
    display: inline-block;
}

.btn3 {
    color: red;
    display: inline-block;
}

.actions button {
    margin: .5rem;
    
}